<div class="container">
  <div class="row center-align"><h3>Edit password</h3></div>
  <div class="row">
    <div class="col s12 l6">
      <%= form_for(resource, as: resource_name,
        url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="row">
        <div class="input-field">
          <i class="material-icons prefix">email</i>
          <%= f.text_field :email, autofocus: true %>
          <%= f.label :email, "E-mail" %>
        </div>
      </div>

      <div class="row">
        <div class="input-field">
          <i class="material-icons prefix">lock</i>
          <%= f.password_field :password, autocomplete: "off" %>
          <%= f.label :password do%>
            New password
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="input-field">
          <i class="material-icons prefix">lock_outline</i>
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
      </div>

      <div class="row">
        <div class="input-field">
          <i class="material-icons prefix">lock_open</i>
          <%= f.password_field :current_password, autocomplete: "off" %>
          <%= f.label :current_password do %>
            Current password
            <em>(We need your current password to proceed)</em>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="actions">
          <%= f.submit "Update", class: 'waves-effect waves-light btn-large' %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="row center-align"><h3>Delete account</h3></div>
  <%= form_for(resource, as:resource_name, url: user_registration_path,
         method: :delete) do |f| %>

  <div class="row center-align">
    <p class="center-align">Want to delete your account?</p>
    <a href="#" id="delete" class="red darken-2 waves-effect btn-large">Delete</a>
    <div id="confirm" class="hidden">
      <div class="action">
        <a href="#" id="cancel" class="waves-effect wave-light btn-large">Cancel</a>
        <%= f.submit "Confirm", class: 'red darken-2 waves-effect btn-large' %>
      </div>
    </div>
  </div>
  <% end %>

  <div class="row center-align"> <%= link_to "Back", :back,
              class: 'waves-effect waves-light btn-large' %></div>
</div>
