<%= form_with(model: @comment,url: gamer_comment_path,method: :patch, local: true) do |form| %>
<% if @comment.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@comment.errors.count, "error") %>
      prohibited this comment from being saved:</h2>
    <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div>
  <div align="center">

    <div class="chip" style="min-width: max-content;">
      <img src="<%=@comment.commented.photo %>" alt="Contact Person"><%= @comment.commented.name %>
    </div>
    <!-- star rating system -->
    <div class="star-rating edit-rating" align="center">
      <i class="material-icons fa" data-rating="0">star_border</i>
      <i class="material-icons fa" data-rating="1">star_border</i>
      <i class="material-icons fa" data-rating="2">star_border</i>
      <i class="material-icons fa" data-rating="3">star_border</i>
      <i class="material-icons fa" data-rating="4">star_border</i>
      <i class="material-icons fa" data-rating="5">star_border</i>
      <i class="material-icons fa" data-rating="6">star_border</i>
      <i class="material-icons fa" data-rating="7">star_border</i>
      <i class="material-icons fa" data-rating="8">star_border</i>
      <i class="material-icons fa" data-rating="9">star_border</i>
      <input type="hidden" name="comment[mark]" class="rating-value" value="<%= @comment.mark %>">
    </div>
    <!-- End star rating system <input type="hidden" name="edit_stars" class="rating-value" value="0.00">-->
    <div class="field s12 l6">
      <%= form.label :review %>
      <%= form.text_area(:review, id: :comment_review, rows:10, style: "height:auto!important;text-align: justify;padding: 10px;") %>
    </div>

    <div>
      <%= link_to gamer_path(params[:gamer_id]),class: "btn waves-effect waves-light" do %>
      Back
      <i class='material-icons right'>backspace</i>
    <% end %>
    |
    <%= form.submit :class=>"btn waves-effect waves-light" %>
  </div>
  <br>
</div>
</div>
<% end %>
