<p id="notice"><%= notice %></p>

<h1>Comments</h1>

<table>
  <thead>
    <tr>
    <!--  <th>Commentator</th> -->
      <th>Commentator name</th>
      <th>Mark</th>
      <th>Review</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
      <!--  <td><%= comment.commentator_id %></td> -->
        <td><%= comment.commentator.name %></td>
        <td><%= comment.mark %></td>
        <td><%= comment.review %></td>
      </tr>
    <% end %>
  </tbody>
</table>
