<div class="row">
  <div class="col s3"></div>
  <div class="col s9"></div>
</div>
<div class="row">
  <div class="col s3">Owner:</div>
  <div class="col s9"> <%= cap_name(game.owner) %> </div>
</div>
<div class="row">
  <div class="col s3">Holder:</div>
  <div class="col s9"> <%= cap_name(game.holder) %> </div>
</div>
<div class="row">
  <div class="col s3">From:</div>
  <div class="col s9"> <%= format_date(game.start_holding) %> </div>
</div>
<% if game.state == 4 %>
<div class="row">
  <div class="col s3">State:</div>
  <div class="col s9"> Rented</div>
</div>
<div class="row">
  <div class="col s3">Until:</div>
  <div class="col s9"> <%= format_date(game.expire) %></div>
</div>
<% else %>
<% states = ["Owned", "For sale", "For gift", "For rent"] %>
<div class="row">
  <div class="col s3">Status:</div>
  <div class="col s12 m9">
    <% if can? :update, game %>
      <%= form_with(model: game, remote: true, method: :patch) do |form| %>
      <input type="hidden" name="state" value="<%= game.state %>">
      <div class=" input-field col s6">
        <%= form.select :state do %>
        <option value="" disabled>Choose the new state</option>
        <% states.each_with_index do |val, index| %>
        <option value="<%= index %>" <%= "selected" if game.state == index %> > <%= val %></option>
        <% end %>
        <% end %>
      </div>
      <div class="input-field col s6">
        <%= form.submit "Change status", class: 'btn waves-effect waves-light disabled' %>
      </div>
      <% end %>
    <% else %>
      <%= get_status(game.state) %>
    <% end %>
  </div>
</div>
<% end %>

<% if can? :destroy, game %>
  <div class="row">
    <div class="col offset-s3">
      <button class="btn delete-button red">Delete</button>
    </div>
    <div id="delete-confirmation" class="modal">
      <div class="modal-content red lighten-3">
        <h4>Are you sure?</h4>
        <p>If you press the DELETE button this game will be deleted definitly from our databse and it will be impossible to show it again.</p>
      </div>
      <div class="modal-footer red lighten-2">
        <button type="button" class="modal-action modal-close waves-effect waves-green btn">Cancel</button>
        <%= link_to "Delete", game_path(game), method: :delete, class: 'modal-action modal-close waves-effect waves-green btn red' %>
      </div>
    </div>
  </div>
<% end %>
