<div class="row">
  <div class="col s3">Owner:</div>
  <div class="col s9"> <%= cap_name(game.owner) %> </div>
</div>
<div class="row">
  <div class="col s3">Holder:</div>
  <div class="col s9"> <%= cap_name(game.holder) %> </div>
</div>
<div class="row">
  <div class="col s3">From:</div>
  <div class="col s9"> <%= format_date(game.start_holding) %> </div>
</div>
<% if game.state == 4 %>
  <div class="row">
    <div class="col s3">State:</div>
    <div class="col s9"> Rented</div>
  </div>
  <div class="row">
    <div class="col s3">Until:</div>
    <div class="col s9"> <%= format_date(game.expire) %></div>
  </div>
  <% if Time.now >= game.expire %>
    <div class="row red-text">
      <div class="col s12">
        Delay of <em><%= distance_of_time_in_words(Time.now, game.expire) %></em>
      </div>
    </div>
  <% else %>
    <div class="row green-text">
      <div class="col s12">
        To return in <em><%= distance_of_time_in_words(Time.now, game.expire) %></em>
      </div>
    </div>
  <% end %>
  <% if can? :rent_back, game %>
  <div class="row">
    <div class="col s12">
      <%= link_to 'Return this game', rent_back_game_path(game), {class: 'btn waves-light waves-effect', method: :patch} %>
    </div>
  </div>
  <% end %>
<% else %>
  <div class="row">
    <div class="col s3">Note:</div>
    <div class="col s9"> <%= game.note.capitalize %> </div>
  </div>
  <div class="row">
    <div class="col s3">Status:</div>
    <% if can? :update, game %>
      <div class="col s12 m9" id="up-form">
        <%= form_with(model: game, remote: true, method: :patch) do |form| %>
          <input type="hidden" name="state" value="<%= game.state %>">
          <div class=" input-field col s6">
            <%= form.select :state do %>
              <option value="" disabled>Choose the new state</option>
              <% for i in 0..3 %>
                <option value="<%= i %>" <%= "selected" if game.state == i %> > <%= get_status(i) %></option>
              <% end %>
            <% end %>
          </div>
          <div class="input-field col s6">
            <%= form.submit "Change status", class: 'btn waves-effect waves-light disabled' %>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="col s9">
        <%= get_status(game.state) %>
      </div>
    <% end %>
  </div>
<% end %>

<% if can? :destroy, game %>
  <div class="row">
    <div class="col">
      <button class="btn delete-button red">Delete</button>
    </div>
    <div id="delete-confirmation" class="modal">
      <div class="modal-content red lighten-3">
        <h4>Are you sure?</h4>
        <p>If you press the DELETE button this game will be deleted definitly from our databse and it will be impossible to show it again.</p>
      </div>
      <div class="modal-footer red lighten-2">
        <button type="button" class="modal-action modal-close waves-effect waves-green btn">Cancel</button>
        <%= link_to "Delete", game_path(game), method: :delete, class: 'modal-action modal-close waves-effect waves-green btn red' %>
      </div>
    </div>
  </div>
<% end %>
