<div class="container">
  <div class="row center-align"><h3>Edit profile</h3></div>
  <div class="row">
    <div class="col s12 l6">
    <% if @gamer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@gamer.errors.count, "error") %>. Your profile has not been updated because:</h2>

        <ul>
        <% @gamer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
      <%= form_for(@gamer, as: :gamer, method: :patch, url: gamer_path(@gamer)) do |f| %>

      <div class="row">
        <div class="input-field">
          <i class="material-icons prefix">add_a_photo</i>
          <%= f.text_field :photo %>
          <%= f.label :photo, "Insert photo URL" %>
        </div>
      </div>

      <div class="row">
        <div class="input-field">
          <i class="material-icons prefix">face</i>
          <%= f.text_field :name%>
          <%= f.label :name %>
        </div>
      </div>

      <div class="row">
        <div class="input-field">
          <i class="material-icons prefix">cake</i>
          <%= f.number_field :age%>
          <%= f.label :age, "Insert your age"%>
        </div>
      </div>

      <div class="row">
        <p>
          <%= f.radio_button 'gender', 'f', class: 'with-gap' %>
          <%= f.label :gender, "Female", value: 'f' %>
          <%= f.radio_button 'gender', 'm' , class: 'with-gap'%>
          <%= f.label :gender, "Male", value: 'm'%>
        </p>
      </div>

      <div class="row">
        <div class="input-field">
          <i class="material-icons prefix">location_city</i>
          <%= f.text_field :city %>
          <%= f.label :city, "Insert your city"%>
        </div>
      </div>

      <div class="row">
        <div class="input-field">
          <i class="material-icons prefix">local_phone</i>
          <%= f.number_field :phone%>
          <%= f.label :phone, "Insert your phone number" %>
        </div>
      </div>

      <div class="row">
        <p>
          <%= f.check_box :visibility, class: 'filled-in' %>
          <%= f.label :visibility, "Visibile profile?" %>
        </p>
      </div>

      <div class="row">
        <div class="actions">
          <%= f.submit "Save changes", class: 'waves-effect waves-light btn-large' %>
        </div>
      </div>
      <% end %>
    </div>

  </div>
</div>

<script>
  $(document).on('turbolinks:load', function(){
    Materialize.updateTextFields();
  });
</script>
