<%= render 'gamers_search' %>

<div class="row center-align">
  <em>
    <h4>
      <% if @gamers.blank? %>
      No gamers
    </h4>
  </em>
</div>
      <% else %>
      Gamers
    </h4>
  </em>
</div>
<div class="row">
<% for gamer in @gamers %>
  <div class="col s12 l4">
    <div class="card blue-grey darken-1">
      <div class="card-profile white-text">
        <% hideProfile = (current_user != gamer) && !gamer.visibility %>
        <div class="valign-wrapper">
          <% if gamer.photo.blank? %>
            <%= image_tag "no_photo.jpg", class: "circle responsive-img activator card-profile-image" %>
          <% else %>
            <img src="<%= gamer.photo %>" alt="Profile photo" class="circle responsive-img activator card-profile-image">
          <% end %>
          <a class="btn-floating activator waves-effect waves-light darken-2 right">
            <i class="material-icons">expand_less</i>
          </a>
        </div>
        <span class="card-title activator white-text darken-3">
          <%= (hideProfile || gamer.name.blank?) ? "Anomymous" : gamer.name.split.map(&:capitalize).join(" ") %>
        </span>
        <p><%= hideProfile ? "_____" : gamer.email %></p>
        <p><%= (hideProfile || gamer.city.blank?) ? "World" : gamer.city %></p>
      </div>

      <div class="card-reveal">
        <span class="card-title grey-text">
          <%= (hideProfile || gamer.name.blank?) ? "Anomymous" : gamer.name.split.map(&:capitalize).join(" ") %>
          <a class="btn-floating activator waves-effect waves-light darken-2 right">
            <i class="material-icons">expand_more</i>
          </a>
        </span>
        <div class="valign-wrapper"><i class="material-icons">email</i> <%= hideProfile ? "_____" : gamer.email %> </div>
        <div class="valign-wrapper">
          <i class="material-icons">phone</i>
          <%= (hideProfile || gamer.phone.blank?) ? "_________" : gamer.phone %>
        </div>
        <div class="valign-wrapper">
          <i class="material-icons">star_half</i>
          <%= gamer.avg_vote %>
        </div>
      </div>

      <div class="card-action">
        <% if can? :read, gamer %>
          <%= link_to "Visit profile", gamer_path(gamer) %>
        <% else %>
          <%= link_to "Log in to view more", new_user_session_path %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>
<% end %>
