  <% same_user = user_signed_in? && @gamer.id == current_user.id %>
  <% frnd = @gamer.friends?(current_user) %>


<div class="USER z-depth-1 col row">
  <div class="INFO_AND_PHOTO row">
    <table style="margin-left: 10px;">

      <td>
        <table>
<!-- non si puo mettere edit name con link edit profile quando non e impostato??? -->
          <tr><td><i class="material-icons prefix">face</i></td><td><b>Name:</b></td><td><%= cap_name_i(@gamer, frnd) %></td></tr>
          <tr><td><i class="material-icons prefix">cake</i></td><td><b>Age:</b></td><td><%= cap_age(@gamer, frnd) %></td></tr>
          <tr><td><i class="material-icons prefix">wc</i></td><td><b>Gender:</b></td><td><%= cap_gender(@gamer, frnd) %></td></tr>
          <tr><td><i class="material-icons prefix">location_city</i></td><td><b>City:</b></td><td><%= cap_city_i(@gamer, frnd) %></td></tr>
          <tr><td><i class="material-icons prefix">local_phone</i></td><td><b>Cell:</b></td><td><%= cap_phone_i(@gamer, frnd) %></td></tr>
          <tr><td><i class="material-icons prefix">email</i></td><td><b>E-mail:</b></td><td><%= cap_email_i(@gamer, frnd) %></td></tr>
        </table>
      </td>

      <td>
        <div class="col s3 l5">
          <% if @gamer.photo.blank? %>
            <%= image_tag "no_photo.jpg" , class: "responsive-img"%>
          <% else %>
            <img class="responsive-img" src="<%= @gamer.photo %>"/>
          <% end %>
        </div>
      </td>
    </table>
    <div style="margin-left: 20px;">
    <% if same_user %>
      <%= link_to "Edit your profile", edit_gamer_url(current_user) ,class: "btn waves-effect waves-light"%>
    <% end %>
    </div>
  </div>
  <div class="VALUTATION row" style="margin-left: 10px;">

    <table style="max-width: fit-content;">
      <tr><td><i class="material-icons prefix">extension</i></td><td><b>Gamer Points:</b></td><td><%= @gamer.points %></td></tr>
      <tr><td><i class="material-icons prefix">star</i></td><td><b>Valutation:</b></td><td><%= @gamer.avg_vote %> stars </td></tr>
    </table>
     <%= render "comments", same_user: same_user %>
  </div>
</div>
<% if same_user %>
  <div class="row">
    <%= link_to 'Show your game requests', desires_path %>
  </div>
<% else %>
  <% if @gamer.admin? %>
    <div class="row right-align"><div class="btn">Administrator</div></div>
  <% end %>
<% end %>

<% if can?(:promote, @gamer) %>
  <div class="row right-align">
    <button class="btn delete-user-button red">Delete this account</button>
    <button class="btn promote-user-button">Promote to admin</button>
  </div>
  <div id="delete-user-confirmation" class="modal">
    <div class="modal-content red lighten-3">
      <h4>Are you sure?</h4>
      <p>If you press the DELETE button this gamer and all the resourses associated
        with it will be deleted definitly from our databse and will be impossible to show them again.</p>
    </div>
    <div class="modal-footer red lighten-2">
      <button type="button" class="modal-action modal-close waves-effect waves-green btn">Cancel</button>
      <%= link_to "Delete", gamer_path(@gamer), method: :delete, class: 'modal-action modal-close waves-effect waves-green btn red' %>
    </div>
  </div>
  <div id="promote-user-confirmation" class="modal">
    <div class="modal-content green lighten-3">
      <h4>Are you sure?</h4>
      <p>If you press Promote this user will become administrator and it can perform
        action that can delete or modify resources.</p>
    </div>
    <div class="modal-footer green lighten-2">
      <button type="button" class="modal-action modal-close waves-effect waves-green btn">Cancel</button>
      <%= link_to 'Promote', promote_gamer_path(@gamer), {method: :patch, class: 'btn wave-effect wave-light'} %>
    </div>
  </div>
<% end %>

<div class="GAMES-COMMENTS-FRIENDS z-depth-1 row">
  <div class="col s12 l6" style="margin-left: 10px;">
    <% games = @gamer.hold_games.last(5) %>
    <% if games.blank? %>
      <div class="row">No games to show</div>
      <div class="row">
        <% if same_user %>
          <%= link_to "Start adding a new game", titles_path ,class: "btn waves-effect waves-light"%>
        <% end %>
      </div>
    <% else %>
      <div class="row">Games <%= same_user ? "you posses" : "" %></div>
      <div class="row">
        <% games.each do |game| %>
          <a href="<%= game_path(game) %>">
            <div class="chip col game-title" style="min-width: max-content;">
              <div class="truncate">
                <%= game.game_info.name %>
              </div>
            </div>
          </a>
        <% end %>
      </div>
      <div class="row">
        <div class="col s6">
          <%= link_to "Show collection", games_path(gamer: @gamer.id) %>
        </div>
        <div class="col s6">
          <% if same_user %>
            <%= link_to "Add a new game", titles_path %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

    <div class="FRIENDS col s12 l6" style="margin-left: -10px;">
        <div class="row center-align">
          <%= render 'shared/stats' %>
          <% if current_user == @gamer %>
            <%= render 'shared/blocked_stats' %>
          <% end %>
        </div>
        <div class="row">
          <div class="col s6">
            <%= render 'friend_form' %>
          </div>
          <div class="col s6">
            <%= render 'block_form' %>
          </div>
        </div>
        <%= render 'friends_show_min' %>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).on('turbolinks:load', function() {
  $('.delete-user-button').off('click').on('click', function() {
    $('#delete-user-confirmation').modal('open');
  });
  $('.promote-user-button').off('click').on('click', function() {
    $('#promote-user-confirmation').modal('open');
  });
});
</script>
