  <% same_user = user_signed_in? && @gamer.id == current_user.id %>

<div class="z-depth-1 col s8 row">
  <div class="col s12 l6">
      <div class="col s4">
        <p>Name:</p>
        <p>Age</p>
        <p>Gender</p>
        <p>City</p>
        <p>Cell:</p>
        <p>E-mail:</p>
      </div>
      <div class="col s8">
        <% if same_user || @gamer.visibility %>
          <p><%= @gamer.name.blank? ? "______" : @gamer.name.split.map(&:capitalize).join(" ") %></p>
          <p><%= @gamer.age.blank? ? "_" : @gamer.age %></p>
          <p><%= @gamer.gender.blank? ? "_" : @gamer.gender == "m" ? "Male" : "Female" %></p>
          <p><%= @gamer.city.blank? ? "______" : @gamer.city.split.map(&:capitalize).join(" ")%></p>
          <p><%= @gamer.phone.blank? ? "_________" : @gamer.phone %></p>
          <p><%= @gamer.email %></p>
        <% else %>
          <p>_____</p>
          <p>_</p>
          <p>_</p>
          <p>______</p>
          <p>_________</p>
          <p>_________</p>
        <% end %>
      </div>

      <div class="col s5">
        <p>Gamer Points:</p>
        <p>Valutation:</p>
      </div>
      <div class="col s7">
        <p><%= @gamer.points %></p>
        <p><%= @gamer.votes %> pts</p>
      </div>
  </div>
  <div class="col s10 l5">
      <img class="responsive-img s10 l5" src="<%= @gamer.photo %>"/>
  </div>
</div>
<% if same_user %>
  <div class="row">
    <%= link_to 'Show your game requests', desires_path %>
  </div>
<% else %>
  <% if @gamer.admin? %>
    <div class="row right-align"><div class="btn">Administrator</div></div>
  <% end %>
<% end %>

<% if !@gamer.admin? && can?(:promote, @gamer) %>
  <div class="row right-align">
    <%= link_to 'Promote to admin', promote_gamer_path(@gamer), {method: :patch, class: 'btn wave-effect wave-light'} %>
  </div>
<% end %>

<div class="row">
  <div class="col s12 l6">
    <% games = @gamer.hold_games.last(5) %>
    <% if games.blank? %>
      <div class="row">No games to show</div>
      <div class="row">
        <% if same_user %>
          <%= link_to "Start adding a new game", titles_path %>
        <% end %>
      </div>
    <% else %>
      <div class="row">Games <%= same_user ? "you posses" : "" %></div>
      <div class="row">
        <% games.each do |game| %>
          <a href="<%= game_path(game) %>">
            <div class="chip col game-title">
              <div class="truncate">
                <%= game.game_info.name %>
              </div>
            </div>
          </a>
        <% end %>
      </div>
      <div class="row">
        <div class="col s6">
          <%= link_to "Show collection", games_path(gamer: @gamer.id) %>
        </div>
        <div class="col s6">
          <% if same_user %>
            <%= link_to "Add a new game", titles_path %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="row">
       Comments:
        <%= render "comments", same_user: same_user %>
    </div>
  </div>

    <div class="col s12 l6">
        <div class="row center-align">
          <%= render 'shared/stats' %>
        </div>
        <div class="row center-align">
          <% if current_user == @gamer %>
            <%= render 'shared/blocked_stats' %>
          <% end %>
        </div>
        <div class="row">
          <div class="col s6">
            <%= render 'friend_form' %>
          </div>
          <div class="col s6">
            <%= render 'block_form' %>
          </div>
        </div>
        <%= render 'friends_show_min' %>
    </div>
  </div>
