<div class="container">

<div class="row">
  <div class="col s12 l6">
    <div class="info">
      Nome: <% if (@gamer.name!=nil) then %> <%= @gamer.name.split(" ")[0] %>  <% end %> <br>
      Cognome: <% if (@gamer.name!=nil) then %> <%= @gamer.name.split(" ")[1] %><% end %> <br>
      Età: <%= @gamer.age %> <br>
      Sesso: <%= @gamer.gender %> <br>
      Città: <%= @gamer.city %> <br>
      Cellulare: <%= @gamer.phone %> <br>
      E-mail: <%= @gamer.email %> <br>
      <!-- Check if current_user == @user -->
      <% if user_signed_in? && @gamer.id == current_user.id %>
      <%=link_to 'Modifica il tuo profilo', edit_gamer_path(@gamer)%> <br>
      <% end %>
      <br>
      <div class="valutazione">
        Gamer Points: <%= @gamer.points %>
         <br>
        Valutazione: <%= @gamer.votes %> pti<br>
      </div>
    </div>
  </div>
  <div class="col s12 l6">
      <img class="responsive-img s12 l6" src="<%= @gamer.photo %>"/>
  </div>
</div>

<div class="row">
    <div class="col s12 l6">
        <div class="row">
          Giochi Posseduti: <br>
          <a id="scale-demo" href="#!" class="btn-floating btn-large scale-transition">
          <i class="material-icons">add</i>
          </a>
        </div>

        <div class="row">
           Commenti:
        </div>
    </div>

    <div class="col s12 l6">
      amici
    </div>
  </div>
</div>
