<li><%= link_to 'Gamers', gamers_path %></li>
<% if user_signed_in? %>
  <li>
    <a class="dropdown-button" href="#!" data-activates="<%= data %>">
      <%= current_user.name.blank? ? "Your profile" : current_user.name.split.map(&:capitalize).join(" ") %>
      <i class="material-icons right">arrow_drop_down</i>
    </a>
  </li>
<% else %>
  <% if request.fullpath != new_user_registration_path %>
    <li><%= link_to 'Sign up', new_user_registration_path %></li>
  <% end %>
  <% if request.fullpath != new_user_session_path %>
    <li><%= link_to 'Log in', new_user_session_path %></li>
  <% end %>
<% end %>
