<!DOCTYPE html>
<html>
  <head>
    <title>GameExchange</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div class="row">
      <div class="col s12">
        <% if notice %>
        <div class="chip center-align">
          <%= notice %>
          <i class="close material-icons">close</i>
        </div>
        <% end %>
        <% if alert %>
        <div class="chip center-align">
          <%= alert %>
          <i class="close material-icons">close</i>
        </div>
        <% end %>
      </div>
    </div>

    <main>
      <div class="row">
	<%= yield %>
      </div>
    </main>

  </body>
</html>
