<!DOCTYPE html>
<html>
  <head>
    <title>GameExchange</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div class="row">
      <div class="alert">
        <% if notice %>
        <div class="chip green white-text z-depth-3">
          <%= notice %>
          <i class="close material-icons">close</i>
        </div>
        <% end %>
        <% if alert %>
        <div class="chip red white-text z-depth-3">
          <%= alert %>
          <i class="close material-icons">close</i>
        </div>
        <% end %>
      </div>
    </div>

    <main>
      <div class="row">
        <%= yield %>
      </div>
    </main>
    <script type="text/javascript">
    $(document).on('turbolinks:load', function(){
      setTimeout(function(){
        $('.alert').remove();
      }, 5000);
     })
    </script>
  </body>
</html>
